name: ci
on:
  push:
    branches:
      - main
    paths:
      - genval/defaultpolicies/rego/dockerfile_policies/**

permissions:
  contents: write
  security-events: write
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  packages: write

jobs:
  push-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
          cache: false

      - name: Fetch Initial version
        id: init_version
        run: |
          ./.github/workflows/get_version.sh

      - name: Set Init-Version
        id: set_init_version
        run: echo "tag=${{ steps.init_version.outputs.new_version }}" >> $GITHUB_ENV

      - name: Install genval
        run: go install github.com/intelops/genval@main

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Dockerfile policies
        id: push_policies
        run: |
          GIT_TAG=${{ env.tag }}
            GENVAL_OUTPUT=$(genval artifact push --reqinput ./dockerfile_policies \
          --dest oci://ghcr.io/santoshkal/ci-test/artifcts/dockerfile_policies:${GIT_TAG} \
          --annotations="authors=santoshdts")
          echo "${GENVAL_OUTPUT}"
          echo "DOCKERFILE_POLICIES=oci://ghcr.io/santoshkal/ci-test/artifcts/dockerfile_policies:${GIT_TAG}" >> $GITHUB_ENV

      - name: Write policy URL
        uses: "DamianReeves/write-file-action@master"
        with:
          path: dockerfile_policies/newversion.txt
          write-mode: overwrite
          contents: |
            # GitHub generated file
            # Please do not modify or delete this file
            ${{ env.DOCKERFILE_POLICIES }}

      - name: Commit & Push
        uses: Andro999b/push@v1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          force: true
          message: "Overwritten by Github Actions - ${date}"
